body {
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
    background-color: #70706c;
    color: #000000;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 40px;
    border-bottom: 1px solid #000000;
    }

}

.logo {
    font-size: 14px;
    font-weight: 400;
}

nav a {
    margin-left: 24px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400; /* Archivo Regular */
    color: #000000;
}

nav a:hover {
    text-decoration: underline;
}


main {
    padding: 280px 50px;
}

h1 {
    margin: 0;
    font-size: 100px;
    line-height: 1.1;
    font-weight: 300;
}

.subtitle {
    margin-top: 12px;
    font-size: 40px;
    font-weight: 200;
    font-style: italic;
    color: #cffd03;
}
